html, body{
	margin-left:15px; margin-right:15px; 
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

table {   
	border-collapse:collapse;
 	border-top:1px solid gray;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:100%;
}

table#t01 {   
	border-style:none;
}
 
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #0775d3;
	padding:5px;
	color: #FFFFFF;
}

tr {
	border-top:1px #cccccc;
	text-align:center;	
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #f2f2f2}	

#page {width: 600px; margin: auto;} 
#wrapper {width: 100%; margin-top: 0px;}
#header {width: 100%; background: #0775d3; margin-top: 0px; padding:15px 0px 15px 0px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF; padding-left: 10px}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

.add-student-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 20px; 
	font-size: 10px;
	font-weight: bold;
	width: 100px; 
	padding: 5px 10px; 
	allign:"middle";
	margin-top: 10px;
	margin-bottom: 10px;
	background: #cce6ff;
}